html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
}

.main {
  position: relative;
}

.main--alt {
  padding-top: 40px;
}

.content {
  &:not(.content--boxed):not(.content--full) {
    @include media-breakpoint-up(lg) {
     padding: calc($header-height + $grid-gutter-width) $grid-gutter-width $grid-gutter-width calc($sidebar-width + $grid-gutter-width);
    }

    @include media-breakpoint-between(sm, lg) {
      padding: calc($header-height + $grid-gutter-width) $grid-gutter-width $grid-gutter-width;
    }

    @include media-breakpoint-down(sm) {
      padding: calc($header-height + $grid-gutter-width) math.div($grid-gutter-width,2) $grid-gutter-width;
    }
  }
}

.content--full {
  @include media-breakpoint-up(sm) {
    padding: calc($header-height + $grid-gutter-width) $grid-gutter-width $grid-gutter-width;
  }

  @include media-breakpoint-down(sm) {
    padding: calc($header-height + math.div($grid-gutter-width,2)) math.div($grid-gutter-width,2) $grid-gutter-width;
  }
}

.content__inner {
  margin: auto;

  &:not(.content__inner--sm) {
    max-width: 1320px;
  }
}

.content__inner--sm {
  max-width: 800px;
}

.content__title {
	margin-bottom: 1rem;
	position: relative;
	top: 1.2rem;
	display: flex;
	align-items: baseline;

  & > h1 {
    line-height: 1.2rem;
    font-size: 3rem;
    margin: 0;
    padding-left: 2rem;
    color: $content-title-heading-color;
    flex: 1 1 auto;

    & > small {
      font-size: 1rem;
      display: block;
      margin-top: 0.5rem;
      color: rgba($content-title-heading-color, 0.75);
      text-transform: none;
    }
  }

  &:not(.content__title--alt) {
    & > h1 {
      text-transform: uppercase;
    }
  }
  
  .context {
	margin-left: auto;
	flex: 0 0 auto;
  }

  .actions {
    margin-left: auto;
    flex: 0 0 auto;
    padding-left: 2rem;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}